# Week 02 Class: Exercises

In this exercise, we will review python basics.

## Variables

### Create variables

Let's start with a very simple exercise of creating new variables



1.   Variable called var_a with value of 3
2.   Variable called var_b with value of 100
3.   String variable str_var_a with value of "GV918"
4.   String variable str_var_a with value of "Data for Social Data Science"

In [13]:
var_a = 3

In [14]:
var_b = 100

In [15]:
str_var_a = "GV918"

In [16]:
str_var_b = "Data for Scoial Science"

### Variable operations



*   Add var_a and var_b
*   Subtract var_a from var_b
*   Multiply var_a and var_b
*   Divide var_b by var_a

In [20]:
var_a + var_b

103

In [17]:
var_a - var_b

-97

In [18]:
var_a * var_b

300

In [19]:
var_b / var_a

33.333333333333336

## Saving on Github

- Before going to the next section, let's save the work on github.

## Lists

### Create lists

1. Create a list, list_a, with values of 1, 3, 4, 5, 9, 2, 4.5
2. Create a list, list_b, with words from "this is a simple string list" 
  - You can type all or use `*.split` method

In [31]:
list_a = [1, 3, 4, 5, 9, 2, 4.5]

In [28]:
list_b = ["this", "is", "a", "simple", "list"]

In [26]:
list_a

[1, 3, 4, 5, 9, 2, 5.5]

### Slicing lists

- From the first list, extract a sublist with elements of:
    -   1, 3, 4
    -   9, 2, 4.5
    -   4, 5, 9

In [29]:
list_a[0:5]

[1, 3, 4, 5, 9]

In [33]:
list_a[4:7]

[9, 2, 4.5]

In [35]:
list_a[2:5]

[4, 5, 9]

## Manipulating lists

- Append an element (e.g. 100) to list_a
- Replace the second element of list_a to 12

In [38]:

list_a[1] = 12

In [40]:
list_a.append(100)

list_a

[1, 12, 4, 5, 9, 2, 4.5, 100, 100]

### Concatenate lists

- Concatenate list_a and list_b
- Use `+`

In [41]:
list_a + list_b

[1, 12, 4, 5, 9, 2, 4.5, 100, 100, 'this', 'is', 'a', 'simple', 'list']

### Copying lists

Do the following operations
- Assign `lsit_a` to `list_a2`
- Change the value of `list_a2[0]` to 7
- Check the value of `list_a` and `list_a2`

What do you find?

In [46]:
list_a2 = list_a

list_a2[0] = 7
print(list_a)
print(list_a2)

[7, 12, 4, 5, 9, 2, 4.5, 100, 100]
[7, 12, 4, 5, 9, 2, 4.5, 100, 100]

## Dictionary

- create a dictionary with the follwoing key-value pairs
    *   a: 10
    *   b: 20
    *   c: 70n
- add some new key and value

In [60]:
new_dic = {"a": 10, "b": 20, "c": "70n", "d": 5.7}

## (Optional) String operation

### Concatenation

Let's do some string operation

In [62]:
str_1 = "Hello"
str_2 = "world"
str_3 = "!"

How to concateneate them to craete "Hello world?"
[https://www.w3schools.com/python/python_strings.asp](https://www.w3schools.com/python/python_strings.asp)

In [64]:
str_1 + " " + str_2 + str_3

'Hello world!'

### Formatting

Read the section of **String Format** and try to generate "Today is 13-10-2020"

In [65]:
year = 2020
month = 10
date = 13
fill_str = "Today is ..." ## this part has to be changed

In [73]:
fill_str = "Today is {}-{}-{}"

In [74]:
print(fill_str.format(date, month, year))

Today is 13-10-2020